.dashboard-page {
  height: 100%;

  .page-title {
    font-size: $font-size-xl;
  }

  .dashboard-page-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: $spacing-xl;
  }
}
