.reveal-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: $spacing-xl;

  &__header {
    border-bottom: 0.1rem solid $color-primary-90;
    padding-bottom: $spacing-sm;
    width: 80rem;

    .prompt-date {
      color: $color-primary-90;
      font-size: $font-size-md;
      font-weight: 500;
    }
  }

  &__body {
    margin-top: $spacing-lg;
    width: 80rem;

    &__replies {
      display: flex;
      flex-direction: column;
      row-gap: $spacing-md;

      .reply {
        background-color: $color-primary-10;
        border-radius: $radius-lg;
        display: flex;
        flex-direction: column;
        padding: $spacing-sm;
        width: 40rem;

        &__author-name {
          font-size: $font-size-sm;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
}
