/** Spacings */
$spacing-xxs: 0.2rem;
$spacing-xs: 0.4rem;
$spacing-sm: 0.8rem;
$spacing-md: 1.6rem;
$spacing-lg: 2.4rem;
$spacing-xl: 4rem;

/** Radiuses */
$radius-sm: 0.4rem;
$radius-md: 0.5rem;
$radius-lg: 0.6rem;

/** Fonts */
$font-size-xs: 1rem;
$font-size-sm: 1.2rem;
$font-size-md: 1.6rem;
$font-size-lg: 2rem;
$font-size-xl: 2.4rem;

/** Components */
$navbar-height: 5rem;
$main-container: 100rem;
