.reveals-page {
  .reveals-page-content {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-md;
  }

  .month {
    &__label {
      font-size: $font-size-lg;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }
  }
}
