.calendar-component {
  max-width: 90rem;
  width: 100%;

  .month-navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;

    span {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}

.calendar-grid {
  display: grid;
  gap: 0.4rem;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 1rem;

  &.calendar-weekdays {
    .calendar-weekday {
      color: $color-neutral-100;
      font-size: 0.8rem;
      padding-bottom: $spacing-xs;
      text-align: center;
    }
  }

  .calendar-cell {
    aspect-ratio: 1 / 1;
    border: 0.1rem solid $color-neutral-25;
    border-radius: $radius-lg;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    overflow: hidden;
    padding: 0.6rem;
    row-gap: $spacing-xxs;

    &__day-number {
      font-weight: 500;
    }

    &__prompt {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      font-size: $font-size-xs;
      line-clamp: 6;
      -webkit-line-clamp: 6;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--assigned {
      border-color: $color-primary-60;
      border-width: 0.2rem;
    }

    &--past {
      /** Credits to Oscar Jite-Orimiono */
      background-image: linear-gradient(
        45deg,
        $color-neutral-5 0%,
        $color-neutral-5 10%,
        $color-secondary-10 10%,
        $color-secondary-10 20%,
        $color-neutral-5 20%,
        $color-neutral-5 30%,
        $color-secondary-10 30%,
        $color-secondary-10 40%,
        $color-neutral-5 40%,
        $color-neutral-5 50%,
        $color-secondary-10 50%,
        $color-secondary-10 60%,
        $color-neutral-5 60%,
        $color-neutral-5 70%,
        $color-secondary-10 70%,
        $color-secondary-10 80%,
        $color-neutral-5 80%,
        $color-neutral-5 90%,
        $color-secondary-10 90%,
        $color-secondary-10 100%
      );
    }

    &:empty {
      border-color: transparent;
    }
  }
}
