.navbar-component {
  align-items: center;
  background-color: $color-primary-70;
  color: $color-neutral-5;
  display: flex;
  gap: 1rem;
  padding: $spacing-sm $spacing-md;

  a {
    color: $color-neutral-5;
  }

  .navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__left {
      font-size: $spacing-md;
    }

    &__right {
      column-gap: $spacing-sm;
      display: flex;

      .auth-actions {
        column-gap: $spacing-sm;
        display: flex;
      }
    }
  }
}
