html {
  font-size: 10px;
  height: 100%;

  body {
    font-size: $font-size-md;
  }

  * {
    box-sizing: border-box;
    color: $color-primary-90;
    font-family: $font-primary;
    font-size: inherit;
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  #root {
    height: 100dvh;
  }
}
