html {
  font-size: 10px;
  height: 100%;

  * {
    box-sizing: border-box;
    font-family: $font-primary;
    font-size: $font-size-md;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  #root {
    height: 100dvh;
  }
}
