.form-field-component {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-xs;

  &__label {
    font-weight: 500;

    &__helper {
      color: $color-primary-40;
      font-size: $font-size-sm;
      font-weight: 400;
      margin-bottom: 0.3rem;
      margin-top: -0.5rem;
    }
  }
}
